<div class="hero-unit">
  <h1>Edit Article: <%= @articles.name%></h1>
  <%= form_for(:articles, :url => {:action => "update", :id=>@articles.id, :page_id => @pages.id}) do |field|%>
      <%=render(:partial => "form", :locals => {:field => field})%>
      <div style="text-align: center">
        <%= link_to("Back", {:action => "index", :page_id => @pages.id}, :class=>"btn btn-warning")%>
        <%= submit_tag("Update", :class=>"btn btn-primary")%>
      </div>
  <%end%>
</div>

