<div class="hero-unit">
  <h1>Show Page</h1>
  <table class="table table-striped">
    <tr>
      <th>Category</th>
      <th><%= @page.category.name %></th>
    </tr>

    <tr>
      <th>Name</th>
      <th><%= @page.name %></th>
    </tr>

    <tr>
      <th>Position</th>
      <th><%= @page.position %></th>
    </tr>

    <tr>
      <th>It is visible ? </th>
      <th><%= @page.visible ? "YES" : "NO" %></th>
    </tr>

    <tr>
      <th>Created: </th>
      <th><%= @page.created_at%></th>
    </tr>

    <tr>
      <th>Updated? </th>
      <th><%= @page.updated_at%></th>
    </tr>

  </table>
  <div style="text-align: center"><%= link_to("Back", {:action => "index", :category_id=>@categories.id }, :class=>"btn btn-primary")%></div>

</div>
